Repository authlib/authlib, pull requests merged in 2025-02, with the labels that each got.

#701 Server-side RFC9207 implementation
  README.md
  authlib/oauth2/rfc6749/authorization_server.py
  authlib/oauth2/rfc6749/grants/base.py
  authlib/oauth2/rfc9207/__init__.py
  authlib/oauth2/rfc9207/parameter.py
  docs/changelog.rst
  docs/specs/index.rst
  docs/specs/rfc9207.rst
  tests/flask/test_oauth2/test_authorization_code_iss_parameter.py
Labels: feature request

#662 OAuth2Client: use correct auth method for token introspection
  authlib/oauth2/client.py
Labels: client

#713 fix: Use full entropy from specified oct key size
  authlib/jose/rfc7518/oct_key.py
Labels: jose
